@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Libre+Franklin:400,400i,600,600i);



body,
input,
textarea,
.mbr-company .list-group-text,
.mbr-section-text {
  font-family: 'Libre Franklin', serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Libre Franklin', serif;
}
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price,
.mbr-section-title {
  font-family: 'Oxygen', sans-serif;
}
.btn {
  font-family: 'Libre Franklin', serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Oxygen', sans-serif;
}
.btn-sm,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block,
.mbr-section-subtitle {
  font-family: 'Libre Franklin', serif;
  font-style: normal;
}
.mbr-author-name {
  font-family: 'Oxygen', sans-serif;
}
.mbr-author-desc {
  font-family: 'Libre Franklin', serif;
  font-style: normal;
}
.mbr-plan-title {
  font-family: 'Oxygen', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Libre Franklin', serif;
  font-style: normal;
}
.bg-primary {
  background-color: #049ffc !important;
}
.bg-success {
  background-color: #1e7c3a !important;
}
.bg-info {
  background-color: #74a3c7 !important;
}
.bg-warning {
  background-color: #ffd785 !important;
}
.bg-danger {
  background-color: #ff9685 !important;
}
.btn-primary {
  background-color: #049ffc;
  border-color: #049ffc;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #0270b1;
  border-color: #0270b1;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #0270b1 !important;
  border-color: #0270b1 !important;
}
.btn-secondary {
  background-color: #a25dae;
  border-color: #a25dae;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #763f7f;
  border-color: #763f7f;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #763f7f !important;
  border-color: #763f7f !important;
}
.btn-info {
  background-color: #74a3c7;
  border-color: #74a3c7;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #447eaa;
  border-color: #447eaa;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #447eaa !important;
  border-color: #447eaa !important;
}
.btn-success {
  background-color: #1e7c3a;
  border-color: #1e7c3a;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #0f3e1d;
  border-color: #0f3e1d;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #0f3e1d !important;
  border-color: #0f3e1d !important;
}
.btn-warning {
  background-color: #ffd785;
  border-color: #ffd785;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #ffbe38;
  border-color: #ffbe38;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #ffbe38 !important;
  border-color: #ffbe38 !important;
}
.btn-danger {
  background-color: #ff9685;
  border-color: #ff9685;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #ff5438;
  border-color: #ff5438;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5438 !important;
  border-color: #ff5438 !important;
}
.btn-primary-outline {
  background: none;
  border-color: #026098;
  color: #026098;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #049ffc;
  border-color: #049ffc;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #049ffc !important;
  border-color: #049ffc !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #66376e;
  color: #66376e;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #a25dae;
  border-color: #a25dae;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #a25dae !important;
  border-color: #a25dae !important;
}
.btn-info-outline {
  background: none;
  border-color: #3d7198;
  color: #3d7198;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #74a3c7;
  border-color: #74a3c7;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #74a3c7 !important;
  border-color: #74a3c7 !important;
}
.btn-success-outline {
  background: none;
  border-color: #0a2a14;
  color: #0a2a14;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #1e7c3a;
  border-color: #1e7c3a;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #1e7c3a !important;
  border-color: #1e7c3a !important;
}
.btn-warning-outline {
  background: none;
  border-color: #ffb61f;
  color: #ffb61f;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #ffd785;
  border-color: #ffd785;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #ffd785 !important;
  border-color: #ffd785 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #ff3e1f;
  color: #ff3e1f;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #ff9685;
  border-color: #ff9685;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9685 !important;
  border-color: #ff9685 !important;
}
.text-primary {
  color: #049ffc !important;
}
.text-success {
  color: #1e7c3a !important;
}
.text-info {
  color: #74a3c7 !important;
}
.text-warning {
  color: #ffd785 !important;
}
.text-danger {
  color: #ff9685 !important;
}
.alert-success {
  background-color: #1e7c3a;
}
.alert-info {
  background-color: #74a3c7;
}
.alert-warning {
  background-color: #ffd785;
}
.alert-danger {
  background-color: #ff9685;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #049ffc;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #049ffc;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #049ffc;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #049ffc;
}
.lead a,
.lead a:hover {
  color: #049ffc;
}
.lead blockquote {
  border-color: #049ffc;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ceecfe;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #47d271;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #cfdfec;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #000;
}
.scrollToTop_wraper {
  opacity: 0 !important;
}
/* DirectM */
a {
  color: #74a3c7;
}
a:hover {
  color: #333;
}
/*header1*/
.header1 .mbr-arrow a i {
  color: #ffffff;
}
.header1 .mbr-arrow a:hover i {
  color: #049ffc;
}
/*header2*/
.header1.header2 .mbr-arrow a i {
  color: #222222;
}
.header1.header2 .mbr-arrow a:hover i {
  color: #049ffc;
}
/*features1*/
.features1 .carousel-indicators li.active {
  border: 5px solid #049ffc;
}
/*features12*/
.features12 .card .mbr-iconfont,
.features14 .card .mbr-iconfont,
.features16 .card .mbr-iconfont {
  font-family: 'Oxygen', sans-serif;
}
/*msg-box1*/
.msg-box1 ul li:before {
  background-color: #049ffc;
}
.msg-box1 .round-block {
  background: linear-gradient(45deg, #0389da, #049ffc, #36b2fd);
}
/*tabs1*/
.tabs1 ul li a.active {
  border-bottom-color: #049ffc !important;
}
.tabs1 .tab-list-wraper ul li:before {
  background-color: #049ffc;
}
.tabs1 .colorBG {
  background-color: #049ffc;
}
/*content*/
.content2 blockquote {
  border-left: 3px solid #049ffc;
}
.content4 p {
  border-bottom: 3px solid #049ffc;
  border-top: 3px solid #049ffc;
}
/*follow1*/
.follow1 .btn-social {
  color: #049ffc;
  border-color: #049ffc;
}
.follow1 .btn-social:hover {
  color: #36b2fd;
  background: rgba(4, 159, 252, 0.1);
  border-color: #36b2fd;
}
/*share1*/
.share1 .btn-social {
  color: #049ffc;
  border-color: #049ffc;
}
.share1 .btn-social:hover {
  color: #36b2fd;
  background: rgba(4, 159, 252, 0.1);
  border-color: #36b2fd;
}
/* Slider */
.mbr-slider .carousel-indicators .active {
  background-color: #049ffc;
}
/* Gallery */
.mbr-gallery-filter ul li {
  font-family: 'Libre Franklin', serif;
}
.mbr-gallery-filter li {
  color: #74a3c7;
}
.btn-empty:focus {
  color: #049ffc;
}
/* captions */
.mbr-figure-caption {
  background-color: #616161;
  color: #fff;
}
/* tabs1 */
.tabs1 ul li a {
  color: #74a3c7;
}
/*tabs3*/
.tabs3 .nav-tabs .nav-link.active {
  border: 5px solid #049ffc;
}
/* testimonials1*/
.testimonials1 .carousel-indicators li.active {
  border: 5px solid #049ffc;
}
.hamburger-icon {
  background-color: #049ffc !important;
}
.hamburger-icon:before {
  background-color: #049ffc;
}
.hamburger-icon:after {
  background-color: #049ffc;
}
#menu2-1 .hide-buttons .nav-btn {
  display: none !important;
}
#menu2-1 .navbar-toggler {
  color: #0390fc;
}
#menu2-1 .close-icon::before,
#menu2-1 .close-icon::after {
  background-color: #0390fc;
}
#menu2-1 .link,
#menu2-1 .dropdown-item {
  color: #0390fc;
  font-family: 'Libre Franklin', serif;
}
#menu2-1 .link {
  font-size: 0.8125rem;
}
#menu2-1 .dropdown-item,
#menu2-1 .nav-dropdown-sm .link {
  font-size: 0.880rem;
}
#menu2-1 .link:hover,
#menu2-1 .link:focus {
  color: #1a73e6;
}
#menu2-1 .dropdown-item:hover::before,
#menu2-1 .dropdown-item:focus::before {
  background: #1a73e6;
}
#menu2-1 .dropdown-item:hover,
#menu2-1 .dropdown-item:focus {
  color: #0390fc;
}
#menu2-1 .link[aria-expanded="true"],
#menu2-1 .dropdown-menu {
  background: #ffffff;
}
#menu2-1 .nav-dropdown-sm .link:focus,
#menu2-1 .nav-dropdown-sm .link:hover,
#menu2-1 .nav-dropdown-sm .dropdown-item:focus,
#menu2-1 .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu2-1 .navbar,
#menu2-1 .nav-dropdown-sm,
#menu2-1 .nav-dropdown-sm .link[aria-expanded="true"],
#menu2-1 .nav-dropdown-sm .dropdown-menu {
  background: #fff;
}
#menu2-1 .bg-color.transparent .link {
  color: #0390fc;
  transition: none;
}
#menu2-1 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu2-1 .bg-color.transparent.opened .link:hover,
#menu2-1 .bg-color.transparent.opened .link:focus {
  color: #1a73e6;
}
#menu2-1 .link[aria-expanded="true"],
#menu2-1 .dropdown-item[aria-expanded="true"] {
  color: #1a73e6!important;
}
#header4-0 .mbr-iconfont {
  color: undefined;
  border-color: undefined;
}
#header4-0 .mbr-table-cell {
  vertical-align: middle;
}
#features4-2n .card {
  background-color: transparent;
  box-shadow: none;
  border: none;
}
#features4-2n .card-img a {
  border-width: 2px;
  line-height: 72px;
}
#features4-2n .mbr-iconfont {
  color: #616161;
  border-color: #616161;
}
#features4-2n .heading-text {
  font-size: 20px;
  text-align: left;
}
#features20-2p .mbr-section-title,
#features20-2p .mbr-section-subtitle,
#features20-2p .mbr-section-text {
  color: #fff;
}
#features20-2p .mbr-iconfont {
  color: #fff;
  border-color: #fff;
}
#features20-2p .heading-text {
  font-size: 20px;
  text-align: left;
}
#features20-2p .card-text {
  font-size: 18px;
}
#features20-2p .card-text SPAN {
  font-size: 18px;
}
#content3-3k .mbr-section-title,
#content3-3k .mbr-section-subtitle {
  text-align: center;
}
#content3-33 .mbr-section-title,
#content3-33 .mbr-section-subtitle {
  text-align: center;
}
#content3-33 H1 {
  color: #fffffd;
}
#tabs1-32 P {
  font-size: 18px;
  color: #fffffd;
}
#tabs1-32 H3 {
  color: #fffffd;
}
#content7-3i .mbr-section-title,
#content7-3i .mbr-section-subtitle {
  margin-bottom: 1rem;
  color: #fff;
}
#content7-3i .mbr-iconfont {
  color: undefined;
  border-color: undefined;
}
#content7-3i .mbr-table-cell {
  vertical-align: middle;
}
#content7-3i .heading-text {
  font-size: 18px;
}
#header8-12 H3 {
  font-size: 80px;
}
#menu2-o .hide-buttons .nav-btn {
  display: none !important;
}
#menu2-o .navbar-toggler {
  color: #0390fc;
}
#menu2-o .close-icon::before,
#menu2-o .close-icon::after {
  background-color: #0390fc;
}
#menu2-o .link,
#menu2-o .dropdown-item {
  color: #0390fc;
  font-family: 'Libre Franklin', serif;
}
#menu2-o .link {
  font-size: 0.8125rem;
}
#menu2-o .dropdown-item,
#menu2-o .nav-dropdown-sm .link {
  font-size: 0.880rem;
}
#menu2-o .link:hover,
#menu2-o .link:focus {
  color: #1a73e6;
}
#menu2-o .dropdown-item:hover::before,
#menu2-o .dropdown-item:focus::before {
  background: #1a73e6;
}
#menu2-o .dropdown-item:hover,
#menu2-o .dropdown-item:focus {
  color: #0390fc;
}
#menu2-o .link[aria-expanded="true"],
#menu2-o .dropdown-menu {
  background: #ffffff;
}
#menu2-o .nav-dropdown-sm .link:focus,
#menu2-o .nav-dropdown-sm .link:hover,
#menu2-o .nav-dropdown-sm .dropdown-item:focus,
#menu2-o .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu2-o .navbar,
#menu2-o .nav-dropdown-sm,
#menu2-o .nav-dropdown-sm .link[aria-expanded="true"],
#menu2-o .nav-dropdown-sm .dropdown-menu {
  background: #fff;
}
#menu2-o .bg-color.transparent .link {
  color: #0390fc;
  transition: none;
}
#menu2-o .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu2-o .bg-color.transparent.opened .link:hover,
#menu2-o .bg-color.transparent.opened .link:focus {
  color: #1a73e6;
}
#menu2-o .link[aria-expanded="true"],
#menu2-o .dropdown-item[aria-expanded="true"] {
  color: #1a73e6!important;
}
#msg-box1-1k H1 {
  color: #333333;
}
#msg-box1-1k SPAN {
  font-size: 16px;
}
#msg-box1-1k .round-text {
  text-align: center;
}
#form3-1x .card {
  background-color: transparent;
  box-shadow: none;
  border: none;
}
#form3-1x .card-img a {
  color: #616161;
  border-color: #616161;
  border-width: 2px;
  line-height: 72px;
}
#form3-1x .heading {
  background: #447eaa;
}
#menu2-q .hide-buttons .nav-btn {
  display: none !important;
}
#menu2-q .navbar-toggler {
  color: #0390fc;
}
#menu2-q .close-icon::before,
#menu2-q .close-icon::after {
  background-color: #0390fc;
}
#menu2-q .link,
#menu2-q .dropdown-item {
  color: #0390fc;
  font-family: 'Libre Franklin', serif;
}
#menu2-q .link {
  font-size: 0.8125rem;
}
#menu2-q .dropdown-item,
#menu2-q .nav-dropdown-sm .link {
  font-size: 0.880rem;
}
#menu2-q .link:hover,
#menu2-q .link:focus {
  color: #1a73e6;
}
#menu2-q .dropdown-item:hover::before,
#menu2-q .dropdown-item:focus::before {
  background: #1a73e6;
}
#menu2-q .dropdown-item:hover,
#menu2-q .dropdown-item:focus {
  color: #0390fc;
}
#menu2-q .link[aria-expanded="true"],
#menu2-q .dropdown-menu {
  background: #ffffff;
}
#menu2-q .nav-dropdown-sm .link:focus,
#menu2-q .nav-dropdown-sm .link:hover,
#menu2-q .nav-dropdown-sm .dropdown-item:focus,
#menu2-q .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu2-q .navbar,
#menu2-q .nav-dropdown-sm,
#menu2-q .nav-dropdown-sm .link[aria-expanded="true"],
#menu2-q .nav-dropdown-sm .dropdown-menu {
  background: #fff;
}
#menu2-q .bg-color.transparent .link {
  color: #0390fc;
  transition: none;
}
#menu2-q .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu2-q .bg-color.transparent.opened .link:hover,
#menu2-q .bg-color.transparent.opened .link:focus {
  color: #1a73e6;
}
#menu2-q .link[aria-expanded="true"],
#menu2-q .dropdown-item[aria-expanded="true"] {
  color: #1a73e6!important;
}
#menu2-s .hide-buttons .nav-btn {
  display: none !important;
}
#menu2-s .navbar-toggler {
  color: #0390fc;
}
#menu2-s .close-icon::before,
#menu2-s .close-icon::after {
  background-color: #0390fc;
}
#menu2-s .link,
#menu2-s .dropdown-item {
  color: #0390fc;
  font-family: 'Libre Franklin', serif;
}
#menu2-s .link {
  font-size: 0.8125rem;
}
#menu2-s .dropdown-item,
#menu2-s .nav-dropdown-sm .link {
  font-size: 0.880rem;
}
#menu2-s .link:hover,
#menu2-s .link:focus {
  color: #1a73e6;
}
#menu2-s .dropdown-item:hover::before,
#menu2-s .dropdown-item:focus::before {
  background: #1a73e6;
}
#menu2-s .dropdown-item:hover,
#menu2-s .dropdown-item:focus {
  color: #0390fc;
}
#menu2-s .link[aria-expanded="true"],
#menu2-s .dropdown-menu {
  background: #ffffff;
}
#menu2-s .nav-dropdown-sm .link:focus,
#menu2-s .nav-dropdown-sm .link:hover,
#menu2-s .nav-dropdown-sm .dropdown-item:focus,
#menu2-s .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu2-s .navbar,
#menu2-s .nav-dropdown-sm,
#menu2-s .nav-dropdown-sm .link[aria-expanded="true"],
#menu2-s .nav-dropdown-sm .dropdown-menu {
  background: #fff;
}
#menu2-s .bg-color.transparent .link {
  color: #0390fc;
  transition: none;
}
#menu2-s .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu2-s .bg-color.transparent.opened .link:hover,
#menu2-s .bg-color.transparent.opened .link:focus {
  color: #1a73e6;
}
#menu2-s .link[aria-expanded="true"],
#menu2-s .dropdown-item[aria-expanded="true"] {
  color: #1a73e6!important;
}
#footer2-t .footer-list {
  color: #749dc7;
}
#footer2-t .btn-social {
  border-color: #74a3c7;
  color: #74a3c7;
}
#footer2-t .btn-social:hover {
  background: #74a3c7;
  color: #fff;
}
#msg-box4-1i H1 {
  color: #434343;
  text-align: left;
}
#msg-box4-1i P {
  color: #434343;
}
#msg-box4-1i .round-text {
  text-align: left;
}
#features3-v .mbr-iconfont {
  background: #4e9ef0;
  border-color: #4e9ef0;
}
#features3-v .features {
  background: #f6f7f8;
}
#menu2-w .hide-buttons .nav-btn {
  display: none !important;
}
#menu2-w .navbar-toggler {
  color: #0390fc;
}
#menu2-w .close-icon::before,
#menu2-w .close-icon::after {
  background-color: #0390fc;
}
#menu2-w .link,
#menu2-w .dropdown-item {
  color: #0390fc;
  font-family: 'Libre Franklin', serif;
}
#menu2-w .link {
  font-size: 0.8125rem;
}
#menu2-w .dropdown-item,
#menu2-w .nav-dropdown-sm .link {
  font-size: 0.880rem;
}
#menu2-w .link:hover,
#menu2-w .link:focus {
  color: #1a73e6;
}
#menu2-w .dropdown-item:hover::before,
#menu2-w .dropdown-item:focus::before {
  background: #1a73e6;
}
#menu2-w .dropdown-item:hover,
#menu2-w .dropdown-item:focus {
  color: #0390fc;
}
#menu2-w .link[aria-expanded="true"],
#menu2-w .dropdown-menu {
  background: #ffffff;
}
#menu2-w .nav-dropdown-sm .link:focus,
#menu2-w .nav-dropdown-sm .link:hover,
#menu2-w .nav-dropdown-sm .dropdown-item:focus,
#menu2-w .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu2-w .navbar,
#menu2-w .nav-dropdown-sm,
#menu2-w .nav-dropdown-sm .link[aria-expanded="true"],
#menu2-w .nav-dropdown-sm .dropdown-menu {
  background: #fff;
}
#menu2-w .bg-color.transparent .link {
  color: #0390fc;
  transition: none;
}
#menu2-w .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu2-w .bg-color.transparent.opened .link:hover,
#menu2-w .bg-color.transparent.opened .link:focus {
  color: #1a73e6;
}
#menu2-w .link[aria-expanded="true"],
#menu2-w .dropdown-item[aria-expanded="true"] {
  color: #1a73e6!important;
}
#footer2-x .footer-list {
  color: #749dc7;
}
#footer2-x .btn-social {
  border-color: #74a3c7;
  color: #74a3c7;
}
#footer2-x .btn-social:hover {
  background: #74a3c7;
  color: #fff;
}
#menu2-y .hide-buttons .nav-btn {
  display: none !important;
}
#menu2-y .navbar-toggler {
  color: #0390fc;
}
#menu2-y .close-icon::before,
#menu2-y .close-icon::after {
  background-color: #0390fc;
}
#menu2-y .link,
#menu2-y .dropdown-item {
  color: #0390fc;
  font-family: 'Libre Franklin', serif;
}
#menu2-y .link {
  font-size: 0.8125rem;
}
#menu2-y .dropdown-item,
#menu2-y .nav-dropdown-sm .link {
  font-size: 0.880rem;
}
#menu2-y .link:hover,
#menu2-y .link:focus {
  color: #1a73e6;
}
#menu2-y .dropdown-item:hover::before,
#menu2-y .dropdown-item:focus::before {
  background: #1a73e6;
}
#menu2-y .dropdown-item:hover,
#menu2-y .dropdown-item:focus {
  color: #0390fc;
}
#menu2-y .link[aria-expanded="true"],
#menu2-y .dropdown-menu {
  background: #ffffff;
}
#menu2-y .nav-dropdown-sm .link:focus,
#menu2-y .nav-dropdown-sm .link:hover,
#menu2-y .nav-dropdown-sm .dropdown-item:focus,
#menu2-y .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu2-y .navbar,
#menu2-y .nav-dropdown-sm,
#menu2-y .nav-dropdown-sm .link[aria-expanded="true"],
#menu2-y .nav-dropdown-sm .dropdown-menu {
  background: #fff;
}
#menu2-y .bg-color.transparent .link {
  color: #0390fc;
  transition: none;
}
#menu2-y .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu2-y .bg-color.transparent.opened .link:hover,
#menu2-y .bg-color.transparent.opened .link:focus {
  color: #1a73e6;
}
#menu2-y .link[aria-expanded="true"],
#menu2-y .dropdown-item[aria-expanded="true"] {
  color: #1a73e6!important;
}
#footer2-z .footer-list {
  color: #749dc7;
}
#footer2-z .btn-social {
  border-color: #74a3c7;
  color: #74a3c7;
}
#footer2-z .btn-social:hover {
  background: #74a3c7;
  color: #fff;
}
#menu2-10 .hide-buttons .nav-btn {
  display: none !important;
}
#menu2-10 .navbar-toggler {
  color: #0390fc;
}
#menu2-10 .close-icon::before,
#menu2-10 .close-icon::after {
  background-color: #0390fc;
}
#menu2-10 .link,
#menu2-10 .dropdown-item {
  color: #0390fc;
  font-family: 'Libre Franklin', serif;
}
#menu2-10 .link {
  font-size: 0.8125rem;
}
#menu2-10 .dropdown-item,
#menu2-10 .nav-dropdown-sm .link {
  font-size: 0.880rem;
}
#menu2-10 .link:hover,
#menu2-10 .link:focus {
  color: #1a73e6;
}
#menu2-10 .dropdown-item:hover::before,
#menu2-10 .dropdown-item:focus::before {
  background: #1a73e6;
}
#menu2-10 .dropdown-item:hover,
#menu2-10 .dropdown-item:focus {
  color: #0390fc;
}
#menu2-10 .link[aria-expanded="true"],
#menu2-10 .dropdown-menu {
  background: #ffffff;
}
#menu2-10 .nav-dropdown-sm .link:focus,
#menu2-10 .nav-dropdown-sm .link:hover,
#menu2-10 .nav-dropdown-sm .dropdown-item:focus,
#menu2-10 .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu2-10 .navbar,
#menu2-10 .nav-dropdown-sm,
#menu2-10 .nav-dropdown-sm .link[aria-expanded="true"],
#menu2-10 .nav-dropdown-sm .dropdown-menu {
  background: #fff;
}
#menu2-10 .bg-color.transparent .link {
  color: #0390fc;
  transition: none;
}
#menu2-10 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu2-10 .bg-color.transparent.opened .link:hover,
#menu2-10 .bg-color.transparent.opened .link:focus {
  color: #1a73e6;
}
#menu2-10 .link[aria-expanded="true"],
#menu2-10 .dropdown-item[aria-expanded="true"] {
  color: #1a73e6!important;
}
#header4-1m .mbr-iconfont {
  color: undefined;
  border-color: undefined;
}
#header4-1m .mbr-table-cell {
  vertical-align: middle;
}
#features19-1p .mbr-iconfont {
  background: #008cff;
  border-color: #008cff;
}
#footer2-11 .footer-list {
  color: #749dc7;
}
#footer2-11 .btn-social {
  border-color: #74a3c7;
  color: #74a3c7;
}
#footer2-11 .btn-social:hover {
  background: #74a3c7;
  color: #fff;
}
#menu2-1q .hide-buttons .nav-btn {
  display: none !important;
}
#menu2-1q .navbar-toggler {
  color: #0390fc;
}
#menu2-1q .close-icon::before,
#menu2-1q .close-icon::after {
  background-color: #0390fc;
}
#menu2-1q .link,
#menu2-1q .dropdown-item {
  color: #0390fc;
  font-family: 'Libre Franklin', serif;
}
#menu2-1q .link {
  font-size: 0.8125rem;
}
#menu2-1q .dropdown-item,
#menu2-1q .nav-dropdown-sm .link {
  font-size: 0.880rem;
}
#menu2-1q .link:hover,
#menu2-1q .link:focus {
  color: #1a73e6;
}
#menu2-1q .dropdown-item:hover::before,
#menu2-1q .dropdown-item:focus::before {
  background: #1a73e6;
}
#menu2-1q .dropdown-item:hover,
#menu2-1q .dropdown-item:focus {
  color: #0390fc;
}
#menu2-1q .link[aria-expanded="true"],
#menu2-1q .dropdown-menu {
  background: #ffffff;
}
#menu2-1q .nav-dropdown-sm .link:focus,
#menu2-1q .nav-dropdown-sm .link:hover,
#menu2-1q .nav-dropdown-sm .dropdown-item:focus,
#menu2-1q .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu2-1q .navbar,
#menu2-1q .nav-dropdown-sm,
#menu2-1q .nav-dropdown-sm .link[aria-expanded="true"],
#menu2-1q .nav-dropdown-sm .dropdown-menu {
  background: #fff;
}
#menu2-1q .bg-color.transparent .link {
  color: #0390fc;
  transition: none;
}
#menu2-1q .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu2-1q .bg-color.transparent.opened .link:hover,
#menu2-1q .bg-color.transparent.opened .link:focus {
  color: #1a73e6;
}
#menu2-1q .link[aria-expanded="true"],
#menu2-1q .dropdown-item[aria-expanded="true"] {
  color: #1a73e6!important;
}
#header1-1t .mbr-iconfont {
  color: #fff;
  border-color: #fff;
}
#header1-1t .mbr-table-cell {
  vertical-align: bottom;
}
#header1-1t .heading-text {
  text-align: left;
  font-size: 22px;
}
#header1-1t .card-text {
  font-size: 18px;
}
#footer2-1r .footer-list {
  color: #749dc7;
}
#footer2-1r .btn-social {
  border-color: #74a3c7;
  color: #74a3c7;
}
#footer2-1r .btn-social:hover {
  background: #74a3c7;
  color: #fff;
}
#menu2-1z .hide-buttons .nav-btn {
  display: none !important;
}
#menu2-1z .navbar-toggler {
  color: #0390fc;
}
#menu2-1z .close-icon::before,
#menu2-1z .close-icon::after {
  background-color: #0390fc;
}
#menu2-1z .link,
#menu2-1z .dropdown-item {
  color: #0390fc;
  font-family: 'Libre Franklin', serif;
}
#menu2-1z .link {
  font-size: 0.8125rem;
}
#menu2-1z .dropdown-item,
#menu2-1z .nav-dropdown-sm .link {
  font-size: 0.880rem;
}
#menu2-1z .link:hover,
#menu2-1z .link:focus {
  color: #1a73e6;
}
#menu2-1z .dropdown-item:hover::before,
#menu2-1z .dropdown-item:focus::before {
  background: #1a73e6;
}
#menu2-1z .dropdown-item:hover,
#menu2-1z .dropdown-item:focus {
  color: #0390fc;
}
#menu2-1z .link[aria-expanded="true"],
#menu2-1z .dropdown-menu {
  background: #ffffff;
}
#menu2-1z .nav-dropdown-sm .link:focus,
#menu2-1z .nav-dropdown-sm .link:hover,
#menu2-1z .nav-dropdown-sm .dropdown-item:focus,
#menu2-1z .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu2-1z .navbar,
#menu2-1z .nav-dropdown-sm,
#menu2-1z .nav-dropdown-sm .link[aria-expanded="true"],
#menu2-1z .nav-dropdown-sm .dropdown-menu {
  background: #fff;
}
#menu2-1z .bg-color.transparent .link {
  color: #0390fc;
  transition: none;
}
#menu2-1z .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu2-1z .bg-color.transparent.opened .link:hover,
#menu2-1z .bg-color.transparent.opened .link:focus {
  color: #1a73e6;
}
#menu2-1z .link[aria-expanded="true"],
#menu2-1z .dropdown-item[aria-expanded="true"] {
  color: #1a73e6!important;
}
#content3-2a .mbr-section-title,
#content3-2a .mbr-section-subtitle {
  text-align: center;
}
#content3-2a P {
  text-align: right;
  font-size: 18px;
}
#tabs1-27 P {
  font-size: 18px;
}
#menu2-2b .hide-buttons .nav-btn {
  display: none !important;
}
#menu2-2b .navbar-toggler {
  color: #0390fc;
}
#menu2-2b .close-icon::before,
#menu2-2b .close-icon::after {
  background-color: #0390fc;
}
#menu2-2b .link,
#menu2-2b .dropdown-item {
  color: #0390fc;
  font-family: 'Libre Franklin', serif;
}
#menu2-2b .link {
  font-size: 0.8125rem;
}
#menu2-2b .dropdown-item,
#menu2-2b .nav-dropdown-sm .link {
  font-size: 0.880rem;
}
#menu2-2b .link:hover,
#menu2-2b .link:focus {
  color: #1a73e6;
}
#menu2-2b .dropdown-item:hover::before,
#menu2-2b .dropdown-item:focus::before {
  background: #1a73e6;
}
#menu2-2b .dropdown-item:hover,
#menu2-2b .dropdown-item:focus {
  color: #0390fc;
}
#menu2-2b .link[aria-expanded="true"],
#menu2-2b .dropdown-menu {
  background: #ffffff;
}
#menu2-2b .nav-dropdown-sm .link:focus,
#menu2-2b .nav-dropdown-sm .link:hover,
#menu2-2b .nav-dropdown-sm .dropdown-item:focus,
#menu2-2b .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu2-2b .navbar,
#menu2-2b .nav-dropdown-sm,
#menu2-2b .nav-dropdown-sm .link[aria-expanded="true"],
#menu2-2b .nav-dropdown-sm .dropdown-menu {
  background: #fff;
}
#menu2-2b .bg-color.transparent .link {
  color: #0390fc;
  transition: none;
}
#menu2-2b .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu2-2b .bg-color.transparent.opened .link:hover,
#menu2-2b .bg-color.transparent.opened .link:focus {
  color: #1a73e6;
}
#menu2-2b .link[aria-expanded="true"],
#menu2-2b .dropdown-item[aria-expanded="true"] {
  color: #1a73e6!important;
}
#header4-2e .mbr-iconfont {
  color: undefined;
  border-color: undefined;
}
#header4-2e .mbr-table-cell {
  vertical-align: middle;
}
#header4-2e .heading-text {
  color: #fffffd;
  text-align: left;
}
#header4-2e .heading-title {
  color: #fffffd;
}
#features2-2f .mbr-iconfont {
  color: #049ffc;
  border-color: #049ffc;
}
#features2-2f .card-text {
  font-size: 18px;
}
#features2-2g .mbr-iconfont {
  color: #049ffc;
  border-color: #049ffc;
}
#features2-2g .card-text {
  font-size: 18px;
}
#footer2-2c .footer-list {
  color: #749dc7;
}
#footer2-2c .btn-social {
  border-color: #74a3c7;
  color: #74a3c7;
}
#footer2-2c .btn-social:hover {
  background: #74a3c7;
  color: #fff;
}
#menu2-34 .hide-buttons .nav-btn {
  display: none !important;
}
#menu2-34 .navbar-toggler {
  color: #0390fc;
}
#menu2-34 .close-icon::before,
#menu2-34 .close-icon::after {
  background-color: #0390fc;
}
#menu2-34 .link,
#menu2-34 .dropdown-item {
  color: #0390fc;
  font-family: 'Libre Franklin', serif;
}
#menu2-34 .link {
  font-size: 0.8125rem;
}
#menu2-34 .dropdown-item,
#menu2-34 .nav-dropdown-sm .link {
  font-size: 0.880rem;
}
#menu2-34 .link:hover,
#menu2-34 .link:focus {
  color: #1a73e6;
}
#menu2-34 .dropdown-item:hover::before,
#menu2-34 .dropdown-item:focus::before {
  background: #1a73e6;
}
#menu2-34 .dropdown-item:hover,
#menu2-34 .dropdown-item:focus {
  color: #0390fc;
}
#menu2-34 .link[aria-expanded="true"],
#menu2-34 .dropdown-menu {
  background: #ffffff;
}
#menu2-34 .nav-dropdown-sm .link:focus,
#menu2-34 .nav-dropdown-sm .link:hover,
#menu2-34 .nav-dropdown-sm .dropdown-item:focus,
#menu2-34 .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu2-34 .navbar,
#menu2-34 .nav-dropdown-sm,
#menu2-34 .nav-dropdown-sm .link[aria-expanded="true"],
#menu2-34 .nav-dropdown-sm .dropdown-menu {
  background: #fff;
}
#menu2-34 .bg-color.transparent .link {
  color: #0390fc;
  transition: none;
}
#menu2-34 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu2-34 .bg-color.transparent.opened .link:hover,
#menu2-34 .bg-color.transparent.opened .link:focus {
  color: #1a73e6;
}
#menu2-34 .link[aria-expanded="true"],
#menu2-34 .dropdown-item[aria-expanded="true"] {
  color: #1a73e6!important;
}
#header4-36 .mbr-iconfont {
  color: undefined;
  border-color: undefined;
}
#header4-36 .mbr-table-cell {
  vertical-align: middle;
}
#header4-36 .heading-text {
  font-size: 22px;
}
#features3-37 .mbr-iconfont {
  background: #049ffc;
  border-color: #049ffc;
}
#features3-37 .features {
  background: #424242;
}
#features3-37 .card-text {
  color: #999999;
}
#features3-37 .card-title {
  color: #fffffd;
}
#menu2-38 .hide-buttons .nav-btn {
  display: none !important;
}
#menu2-38 .navbar-toggler {
  color: #0390fc;
}
#menu2-38 .close-icon::before,
#menu2-38 .close-icon::after {
  background-color: #0390fc;
}
#menu2-38 .link,
#menu2-38 .dropdown-item {
  color: #0390fc;
  font-family: 'Libre Franklin', serif;
}
#menu2-38 .link {
  font-size: 0.8125rem;
}
#menu2-38 .dropdown-item,
#menu2-38 .nav-dropdown-sm .link {
  font-size: 0.880rem;
}
#menu2-38 .link:hover,
#menu2-38 .link:focus {
  color: #1a73e6;
}
#menu2-38 .dropdown-item:hover::before,
#menu2-38 .dropdown-item:focus::before {
  background: #1a73e6;
}
#menu2-38 .dropdown-item:hover,
#menu2-38 .dropdown-item:focus {
  color: #0390fc;
}
#menu2-38 .link[aria-expanded="true"],
#menu2-38 .dropdown-menu {
  background: #ffffff;
}
#menu2-38 .nav-dropdown-sm .link:focus,
#menu2-38 .nav-dropdown-sm .link:hover,
#menu2-38 .nav-dropdown-sm .dropdown-item:focus,
#menu2-38 .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu2-38 .navbar,
#menu2-38 .nav-dropdown-sm,
#menu2-38 .nav-dropdown-sm .link[aria-expanded="true"],
#menu2-38 .nav-dropdown-sm .dropdown-menu {
  background: #fff;
}
#menu2-38 .bg-color.transparent .link {
  color: #0390fc;
  transition: none;
}
#menu2-38 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu2-38 .bg-color.transparent.opened .link:hover,
#menu2-38 .bg-color.transparent.opened .link:focus {
  color: #1a73e6;
}
#menu2-38 .link[aria-expanded="true"],
#menu2-38 .dropdown-item[aria-expanded="true"] {
  color: #1a73e6!important;
}
#header4-3g .mbr-iconfont {
  color: undefined;
  border-color: undefined;
}
#header4-3g .mbr-table-cell {
  vertical-align: middle;
}
#features2-3d .mbr-iconfont {
  color: #049ffc;
  border-color: #049ffc;
}
